@font-face {
      font-family: <yourwebfontname>;
      src: <source> [<format>][,<source> [<format>]]*;
      [font-weight: <weight>];
      [font-style: <style>];
    }

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url('Lato/Lato-300/Lato-300.eot');
  src: url('Lato/Lato-300/Lato-300.eot?#iefix') format('embedded-opentype'),
       local('Lato Light'),
       local('Lato-300'),
       url('Lato/Lato-300/Lato-300.woff2') format('woff2'),
       url('Lato/Lato-300/Lato-300.woff') format('woff'),
       url('Lato/Lato-300/Lato-300.ttf') format('truetype'),
       url('Lato/Lato-300/Lato-300.svg#Lato') format('svg');
}
</style></weight></format></format></yourwebfontname>